.logo {
  padding-left: 30px;
}

.logo img {
  width: 250px;
  height: 40px;
}

.uk-sticky-fixed {
  z-index: 10000;
}

.uk-subnav-pill > .uk-active > a {
  background-color: #b11a28;
}

.uk-navbar-nav > li.uk-active > a {
  color: #b11a28;
}
#img-footer{
  width: 50%;
  height: 40px;
}
#footer-middle-content{
  padding-left: 30px;
}
#logo-img{
  width: 30%;
  height: 40px;
}
#footer-first-content{
  margin-top: 40px;
}

.card-image {
  width: 100%;
  height: 380px;
}

.icon-color {
  color: #b11a28;
} 
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
#label{
  padding-left: 60px;
}
#label-icon{
  padding-left: 40px;
}
#form-stacked-text {
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
  width: 90%;
  }



#form-heading{
  padding-left: 40%;
}
#span-icon{
  font-size: 24px;
}

#txt-area {
  border: none;
  border: 2px solid grey;
  outline: none;
  margin-top: 10px;
  width: 100%;
  padding:1px
}
#map{
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 420px; 
}
#map iframe {                                                          
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
}

#getIn{
  background-color: #b11a28; /* Green */
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 100px;
  height: 40px;
  margin-top: 17px;
}

#getInInput{
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=text]:focus {
  border: 3px solid #555;
}
#while-choose-img{
  width:150px;
  border-radius: 50%;
  height: 120px;
}
/*# sourceMappingURL=style.css.map */
@media screen and (min-device-width: 769px) and (max-device-width: 900px) { 
  #txt-area {
    border: none;
    border: 2px solid grey;
    outline: none;
    width: 100%;
    margin-left: 10px;
    padding:1px
  }
  #form-heading{
    padding-left: 40%;
  }
  #getIn{
    margin-top: 12px;
  }
  
  #getInInput{
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  input[type=text]:focus {
    border: 3px solid #555;
  }
}


@media screen and (min-device-width: 691px) and (max-device-width: 768px) { 
  #loco{
    display: block;
  }
  #txt-area {
    border: none;
    border: 2px solid grey;
    outline: none;
    width: 100%;
    margin-left: 10px;
    padding:1px
  }
  #map{
    margin-top: 30px;
    position: relative;
    width: 60%;
    height: 220px; 
  }
  #map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 615px;
    height: 100%;
  }
  #form-heading{
    padding-left: 40%;
  }
   
 #getIn{
  margin-top: 12px;
}

#getInInput{
  width: 400px;
} 
  }
@media screen and (min-device-width: 480px) and (max-device-width: 600px) {
  #loco{
    display: block;
  }
  #map{
    margin-top: 30px;
    position: relative;
    width: 40%;
    height: 220px; 
  }
  #map iframe {
    position: absolute;
    top: 0;
    left: 30px;
    width: 420px;
    height: 100%;
  }
  #txt-area {
    border: none;
    border: 2px solid grey;
    outline: none;
    width: 100%;
    margin-left: 10px;
    padding:1px
  }
  
#form-stacked-text {
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
  width: 80%;
  margin-left: 10px;
}
 #form-heading{
  padding-left: 35%;
 }
 #getIn{
  margin-top: 12px;
}

#getInInput{
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=text]:focus {
  border: 3px solid #555;
}
}

@media screen and (min-device-width: 601px) and (max-device-width: 690px) {
  #loco{
    display: block;
  }
  #txt-area {
    border: none;
    border: 2px solid grey;
    outline: none;
    width: 100%;
    margin-left: 10px;
    padding:1px
  }
  #map{
    margin-top: 30px;
    position: relative;
    width: 60%;
    height: 220px; 
  }
  #map iframe {
    position: absolute;
    top: 0;
    left: 40px;
    width: 520px;
    height: 100%;
  }
 
 #form-heading{
  padding-left: 35%;
 } 
 #getIn{
  margin-top: 12px;
}

#getInInput{
  width: 400px;
} 
}